form{
    border: 5px groove grey;
    width:480px;
    height:640px;
    padding-left: 15px;
    padding-top: 12px;
    margin-left: 450px;
    background-image: linear-gradient(to left top, #20cb06, #00d45d, #00dc8f, #00e2b8, #00e6d7, #00dfe9, #00d7f7, #00cdff, #00b4ff, #5c93ff, #a566ea, #d400b0);
}
body{
    background-image: radial-gradient(circle, #f53e00, #ff5f4e, #ff8182, #f7a4ac, #e5c6cc);
}